:root {
	--font-family: "Poppins", sans-serif;

	--border-color: #9ca3af;

	--primary-text-color: #4a4a4a;
	--secondary-text-color: #6a6a6a;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: var(--font-family);
}

body {
	background-color: #eaebec;
}

button {
	cursor: pointer;
	background-color: #fff;
	font-family: var(--font-family);
	color: var(--primary-text-color);
	transition: background-color 100ms;
}

button:hover {
	background-color: #e3e3e3;
}

button:active {
	background-color: #d1d7db;
}

input {
	font-family: var(--font-family);
}
