:root {
	--font-family: "Poppins", sans-serif;

	--dim-gray: #6a6a6a;
	--dark-gray: #212121;
	--slate-gray: #9ca3af;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: var(--font-family);
}

body {
	background-color: #fff;
}

button {
	cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

input::-webkit-contacts-auto-fill-button {
	right: 0;
	visibility: hidden;
	position: absolute;
	pointer-events: none;
	display: none !important;
}

input:disabled,
button:disabled {
	opacity: 0.66;
	pointer-events: none;
}
