:root {
	--font-family: "Poppins", sans-serif;

	--border-color: #9ca3af;
	--primary-text-color: #212121;
	--secondary-text-color: #6a6a6a;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: var(--font-family);
}

body {
	background-color: #fff;
}

button {
	cursor: pointer;
	background-color: #fff;
	font-family: var(--font-family);
	color: var(--primary-text-color);
	transition: background-color 100ms;
}

button:hover {
	background-color: #e3e3e3;
}

button:active {
	background-color: #d1d7db;
}

input {
	font-family: var(--font-family);
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button {
	display: none;
}

input[type="search"]::-moz-search-clear-button {
	display: none;
}

input:disabled,
button:disabled {
	opacity: 0.66;
	pointer-events: none;
}
